<div class="center hero-unit">
  <h1>Welcome to Social Bridge</h1>

  <h2>Find partners, games, tournaments, and more!</h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>